---
layout: default
permalink: /tags/
title: Tags
---

<section>
    {% include tags.html %}
</section>

<section id="archive_group">
    {% for tag in site.tags %}
    {% assign tag_label = tag | first %}
    {% assign tag_name = tag_label | slugify %}
    {% unless tag_label == 'draft' or tag_label == 'secret' %}

    <div id="{{ tag_name }}" class="posts-list" style="display: none">
        <ul class="posts-list">
            {% for post in site.tags[tag_label] %}

            {% unless post.tags contains 'draft' or post.tags contains 'secret' %}
            <li>
                {% include post_item.html %}
            </li>
            {% endunless %}

            {% endfor %}
        </ul>
    </div>
    {% endunless %}
    {% endfor %}
</section>

<script>
    let $selected;

    const showSelectedTag = () => {
        const tagname = getTagName(window.location.href);

        if ($selected) {
            $selected.style.display = "none";
        }

        $selected = document.getElementById(tagname);
        if (!$selected) return;
        $selected.style.display = "block";
    };

    document.addEventListener('DOMContentLoaded', showSelectedTag);
    window.addEventListener('hashchange', showSelectedTag);

    const getTagName = (url) => {
        const parsed = /#([^\s]+)$/.exec(url);

        if (!Array.isArray(parsed)) {
            return false;
        }

        return parsed.pop();
    };

</script>
