<ul class="tag-cloud">
    {% for tag in site.tags %}

    {% assign tag_label = tag | first %}
    {% assign tag_name = tag_label | slugify %}
    {% assign tag_posts = tag | last %}
    {% assign tag_size = 0 %}
    {% for tagged_post in tag_posts %}
        {% unless tagged_post.tags contains 'draft' or tagged_post.tags contains 'secret' %}
            {% assign tag_size = tag_size | plus: 1 %}
        {% endunless %}
    {% endfor %}

    {% if tag_size > 3 %}
    {% assign tag_class = "is-primary" %}
    {% else %}
    {% assign tag_class = "is-light" %}
    {% endif %}

    {% if tag_size > 0 and tag_label != 'draft' and tag_label != 'secret' %}
        <li>
            <a href="/tags#{{ tag_name }}"><span class="tag {{ tag_class }}">#{{ tag_label }} ({{ tag_size }})</span></a>
        </li>
    {% endif %}
    {% endfor %}
</ul>
