body {
    font-family: Muli, 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    color: #6C7A89;

    margin-bottom: 5%;
}

section {
    margin-top: 40px;
}

pre {
    background-color: #012239
}

@media only screen and (min-width: 1220px) {
    section {
        margin-top: 80px;
    }
}

@media only screen and (min-width: 1024px) {
    section {
        margin-top: 60px;
    }
}

@media only screen and (min-width: 768px) {
    section {
        margin-top: 50px;
    }
}

.navbar {
    margin-top: 40px;

    .navbar-title {
        &:hover{
            color: green;
        }
        font-size: 25px;
        font-weight: 800;
        letter-spacing: -.02em;
        line-height: 1;
        color: #2A2F36;
        padding: 0;
    }

    .navbar-menu {
        .navbar-end {
            .navbar-item {
                &:hover {
                    color: green;
                }
            }
        }
    }
}

.wrap {
    position: relative;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 500px;
}

@media only screen and (min-width: 768px) {
    .wrap {
        padding: 0;
        max-width: 70%
    }
}

@media only screen and (min-width: 1024px) {
    .wrap {
        max-width: 65%
    }
}

@media only screen and (min-width: 768px) {
    .content-wrap {
        width: 90%;
        margin: 0 auto;
    }
}

.intro {
    div {
        p {
            line-height: 1.3;
        }
    }
}

.gallery {
    padding: 0 5px;

    .columns {
        margin: 0;

        .column {
            width: 100%;
            padding: 5px;

            .content-item {
                position: relative;
                
                &:hover {
                    .overlay {
                        opacity: 0.7;
                    }
                }

                img {
                    width: 100%;
                    padding: 4px 0;
                }
    
                .video-responsive {
                    position: relative;
                    height: 40%;
                    padding-bottom: 56.25%;

                    iframe {
                        position: absolute;

                        padding: 4px 0;

                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                    }
                }

                .overlay {
                    position: absolute;
                    top: 4px;
                    bottom: 4px;
                    left: 0;
                    right: 0;
                    height: calc(100% - 8px);
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color: #2A2F36;

                    .text {
                        color: white;
                        position: absolute;
                        top: calc(50% - 2px);
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        text-align: center;
                    }
                }
            }
        }
    }
}

.current {
    color: green;
}

.greenmon {
    color: green;
}
