.posts-list {
    margin-top: 4%;

    li {
        list-style: none;
        margin-bottom: 3rem;

        h2 {
            padding-top: 0;
            a {
                color: #2A2F36;
                &:hover {
                    color: green;
                }
            }
        }
        h4 {
            color: #6C7A89;
            font-weight: 400;
            line-height: 1.6;
            padding-top: 0;
            padding-bottom: 0.2rem;
        }
    }
}

.tag-cloud {
    margin-top: 4%;

    li {
        display: inline-block;
    }
}

.post-date {
    text-align: right;
}

.post-content {
    margin-top: 7%;

    img {
        margin: 6% 0;
    }
    
    pre {
        code {
            font-size: 1em;
            line-height: 1.6;

            background: transparent;
        }
    
        @media only screen and (min-width: 768px) {
            code {
                font-size: 1.1em;
            }
        }
        
        @media only screen and (min-width: 1220px) {
            code {
                font-size: 1.2em;
            }
        }
    }
}

#disqus_thread {
    margin-top: 10%;
}

