---
layout: default
comments: true
---
<div class="post-title content">
        <h1>{{ page.title }}</h1>
        <p class="post-date"><span class="tag is-success">created: {{ page.date | date: "%Y.%m.%d" }}</span></p>
</div>


<div class="post-content content">
        {{ page.content | remove: page.excerpt }}
</div>

<!-- MathJax Libary for LaTeX -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<div id="disqus_thread"></div>

<script>
var disqus_config = function () {
this.page.url = 'http://greenmon.xyz';
this.page.identifier = '{{ page.title }}-{{ page.date }}';
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://greenmon-xyz.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            